<?php

declare(strict_types=1);

return [
    'db_host' => '127.0.0.1',
    'db_user' => 'root',
    'db_pass' => '',
    'db_name' => 'srm_db',
    'app_name' => 'Shakesbeard CYBER Sales Manager',
    'currency_symbol' => 'KES',
    'timezone' => 'Africa/Nairobi',
];